.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  gap: 10px;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(135deg, #00556a, #e0e0e0);
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.display {
  grid-column: span 4; /* Ajuste para 4 colunas */
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

button {
  height: 60px; /* Altura dos botões */
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%; /* Ocupa toda a largura da célula */
}

button:hover {
  background-color: #e0e0e0;
}

.operation-button {
  background-color: #f9c74f; /* Amarelo para operadores */
}

.number-button {
  background-color: #cce5ff; /* Cor de fundo para botões de números */
}

.clear-button {
  height: 100%;
  background-color: red; /* Vermelho para o botão de limpar */
  color: white; /* Texto em branco */
  grid-row: span 3; /* Ocupa 3 linhas */
}

.equal-button {
  background-color: #270acb; /* Amarelo para o botão de resultado */
  grid-column: span 2; /* Ocupa duas colunas */
}
